[SERVICE]
    Flush        5
    Daemon       Off
    Log_Level    {{ log_level }}
    Parsers_File parsers.conf

[INPUT]
    Name            systemd
    Tag             host.*
    Systemd_Filter  _SYSTEMD_UNIT={{ systemd_filter_systemd_unit }}
    Strip_Underscores On

[OUTPUT]
    Name            es
    Match           host.*
    Host            {{ elasticsearch_host }}
    Port            {{ elasticsearch_port }}
    Index           {{ elasticsearch_index }}
    Type            _doc
    Generate_ID     On
    Suppress_Type_Name On
